@model IEnumerable<Sighting>
@{
    ViewData["Title"] = "Home Page";
}

<form id="addform" asp-action="AddSighting" method="post">
    <div class="form-group">
        <label for="SightingLocation">County:</label>
        <input class="form-control" name="SightingLocation" />
    </div>
    <div class="form-group">
        <label for="SightingDate">Date:</label>
        <input class="form-control" name="SightingDate" />
    </div>
    <div class="text-center panel-body">
        <button type="submit" class="btn btn-sm btn-primary">Add Sighting</button>
    </div>
</form>

<table class="table table-sm table-striped table-bordered m-2">   
    <thead>
        <tr>
            <th>ID</th>
            <th>Sighting Location</th>
            <th>Sighting Date</th>
         </tr>
    </thead>    
    <tbody>       
        @foreach (var r in Model)
            {
                <tr>                
                    <td>@r.SightingID</td> 
                    <td>@r.SightingLocation</td>               
                    <td>@r.SightingDate.ToShortDateString()</td>            
                </tr>
             }    
    </tbody> 
</table>

